</br>
<h2>Sign up</h2>
</br>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    </br>
    <h5><%= f.label :username %><br /></h5>
    <%= f.text_field :username, autofocus: true %>
  </div>

  </br> 

  <div class="field">
    <h5><%= f.label :email %><br /></h5>
    <%= f.email_field :email %>
  </div>

  </br>

  <div class="field">
    <h5><%= f.label :password %></h5>
    <% if @minimum_password_length %>
    <h5><em>(<%= @minimum_password_length %> characters minimum)</em></h5>
    <% end %>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  </br>

  <div class="field">
    <h5><%= f.label :password_confirmation %><br /><h5>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  </br>

  <div class="action">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

</br>
<%= render "devise/shared/links" %>
</br>
