<%= javascript_include_tag "pieces" %>
<button type="button">Forfeit</button>
<table id="chessboard">
  <% (0..7).each do |row| %>
    <tr>
      <% (0..7).each do |column| %>
        <% square_color = (row + column).odd? ? 'black' : 'white' %>
        <% is_chosen_square = chosen == [row, column] ? 'chosen-square' : '' %>
          <td class="<%= square_color %>-space" id="<%= is_chosen_square %>">
            <%= link_to piece_path(@chosen_piece, y_coordinate: row,
              x_coordinate: column), method: :put, class: 'square' do %>
            <% if piece = @game.pieces.find_by_coordinates(column, row) %>
              <span class="<%= piece.glyph %>" id='drag' ></span>
            <% end %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
<br />
<br />
<br />

<button type="button">Click Me!</button>
